{% extends "base.html" %}
{% block title %}关于郫县豆瓣.mobile{% endblock %}
{% block body %}
    <h1>关于郫县豆瓣...</h1>
    <p>
        郫县豆瓣(pí xiàn dòu bàn)起源于清代康熙年间(1688年), 始为川西居民自制佐餐之盐辣椒、酱菜之类, 辗转近百年. 咸丰年间, 陈氏后人陈守信, 号“益谦”, 设立“益丰和”号酱园. 陈守信悉心数年, 独创秘方, 改盐渍辣椒为“豆瓣辣椒”, “郫县豆瓣”由此诞生.
    </p>
    
    <h1>关于郫县豆瓣.mobile...</h1>
    <p>
        <span class="nickname">郫县豆瓣.mobile</span>旨在为电子科大幼儿园沙河附属大学, 电子科大幼儿园郫县金凤村男子附属高专提供便捷的移动图书信息服务. 
        郫县豆瓣.mobile通过<span class="item"><a href="http://www.douban.com">豆瓣</a></span>提供图书信息索引, 同时可以帮您快速的查阅对应图书在<span class="item"><a href="http://www.lib.uestc.edu.cn">电子科大图书馆</a></span>中的馆藏信息.<br />
        郫县豆瓣.mobile致力于提供方便可用的移动服务, 帮助您轻松的查阅和管理您的借阅图书.<br />
        本项目基于<a href="http://tremblefrog.org/libdb/">豆瓣-电子科大图书馆馆藏查询</a>这个Bookmarklet/Greasemonkey脚本发展而来. 
    </p>
        
    <h1>强力驱动: <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" />, <a class="item" href="http://www.dormforce.net">栋力无限</a></h1>
    <p>
        郫县豆瓣.mobile运行在<a class="item" href="http://code.google.com/appengine">Google App Engine</a>上, 同时经由一台<a href="http://www.dormforce.net">栋力无限</a>的龟速服务器提供图书馆信息检索整合. <br />
    </p>
    
    <h1>Open Source</h1>
    <p>
        郫县豆瓣.mobile是一个开源项目, 项目目前托管在github上. 您可以自由的查阅和修改源代码.<br />
        项目主页: <span class="item"><a href="http://github.com/killkeeper/Douban-UESTC-Library-Mashup-Mobile">http://github.com/killkeeper/Douban-UESTC-Library-Mashup-Mobile</a></span>
    </p>
        
{% endblock %}