{% extends "base.html" %}
{% block title %}{{entry.title.text}} - 馆藏信息{% endblock %}
{% block body %}
    <h1>{{entry.title}} ({{entry.book_count}}本馆藏, {{entry.book_available}}本可借阅)</h1>
    <ul class="booklist">    
        <li>        
            <img class="cover" src="{{entry.GetImageLink.href}}" />
            <ul class="infolist">
                <li><span class="item"><a target="_blank" href="{{entry.GetAlternateLink.href}}">{{entry.title.text}}</a></span></li>
                <li><span class="tag">评分</span>: {{entry.rating.average}} ({{entry.rating.numRaters}}人评价)</li>
                <li><span class="tag">作者</span>: {{entry.author_list}}</li>
                <li>{{entry.attributes}}</li>
            </ul>
            <br style="clear:both;" />
        </li>
        {% if entry.book_count %}
        <li>
            <h3>馆藏分布(此结果具有1小时缓存):</h3>
            <h3>索书号: {{inq_no}}</h3>
            <ul class="infolist">
                {% for ins in entry.books %}
                <li><span class="nickname">{{ins.available}}</span> <span class="tag">馆藏地</span>: {{ins.loc}}</li>
                {% endfor %}
            </ul>
            {% if entry.floor and entry.category %}
            <ul class="infolist">
            <li><span class="nickname">楼层:</span> 清水河图书馆{{entry.floor}}楼</li>
            <li><span class="nickname">分类:</span> {{entry.category}}</li>
            </ul>
            {% endif %}
            
            <br style="clear:both;" />
        </li>
        {% else %}
        <li>
            <h3>对不起, 没有对应图书的馆藏信息 :(</h3>
            <p>
                提示: 一本图书可能有其他不同的版本, 或者来自不同的出版社.<br /><br />
                您可以试试: <a href="http://webpac.uestc.edu.cn/search~S1*chx/?searchtype=t&searcharg='{{entry.title.text|escape}}'&searchscope=1&sortdropdown=-&SORT=D&extended=0">在电子科大图书馆检索<strong>{{entry.title.text}}</strong></a>
            </p>
        </li>
        {% endif %}
    </ul>
    {% if user_login %}
    <div class="notify">
    	<ul class="ops">
    	    {% if task %}
    	    <li>此书在您的借书列表中, <a href="/remove/{{entry.isbn_string}}">- 移除</a></li>
    	    {% else %}
    	    <li><a href="/collect/{{entry.isbn_string}}">+ 借书列表</a></li>
    	    {% endif %}
    	</ul>
    </div>
    {% endif %}
    <div>
        <form action="/q/" method="get">
            图书名/ISBN/标签: <input type="text" name="keywords" value="{{keyword}}" />
            <select id="method" name="method"> 
                <option value="keyword">书名</option>
                <option value="isbn">ISBN</option>
                <option value="tag">标签</option>
            </select> 
            <input type="submit" value="查询" />    
        </form>
    </div>
{% endblock %}